<div class="container">
  <h1>Welcome to Volunteer Tracker</h1>

  <br>
  
  <h4><strong>Add New Project</strong></h4>

  <form action="/projects" method="post">
    <div class="form-group">
      <label class="form-label" for="title">Assign a title to your project:</label>
      <input class="form-control" id="title" name="title" type="text" placeholder="Project Title" autofocus>
      <br>
      <button type="submit" class="button btn-success">Create Project</button>
    </div>
  </form>

  <br>
  <br>

  <p><a href="/projects">View All Projects</a></p>
</div>
