<h1><%= @project.title() %></h1>

<% if @project.volunteers().any?() %>
  <h3>Here are all the volunteers for this project:</h3>

  <ul>
    <% @project.volunteers().each() do |volunteer| %>
      <li><%= volunteer.name() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no volunteers for this project yet!</p>
  <% end %>

  <br>
  <br>

<h3>Add a volunteer to <%= @project.title() %> </h3>

<form action="/volunteers" method="post">
  <input id="project_id" name="project_id" type="hidden" value="<%= @project.id() %>">

  <label for ="name">Name of Volunteer:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add volunteer</button>
</form>
