<h3>Update your project title:</h3>

<form action="/projects/<%= @project.id()%>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="title">Rename your project:</label>
  <input id="title" name="title" type="text">

  <button type="submit" class="btn btn-success">Update Project</button>
</form>

<form action="/projects/<%= @project.id()%>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-danger">Delete Project</button>
</form>

<p><a href="/">Return Home</a></p>
