<% if @projects.any?() %>
  <h3>Here are your projects:</h3>

    <% @projects.each() do |project| %>
      <h4><a href="/projects/<%= project.id()%>"><%= project.title() %></a></h4>
    <% end %>

<% else %>

    <h4>There are no projects yet!</h4>

<% end %>

<br>
<p><a href="/">Return Home</a></p>
