<h2><em>Volunteer Details</em></h2>

<h3>Volunteer Name:</h3>
<h4><%= @volunteer.name() %></h4>

<h3>Project Job Number Currently Working On:</h3>
<h4><%= @volunteer.project_id() %></h4>

<br>
<br>

<p><a href="/volunteers/<%= @volunteer.id() %>/edit">Edit Volunteer</a></p>
<p><a href="/">Return Home</a></p>
