<h2><em>Volunteer Details</em></h2>

<h3>Volunteer Name:</h3>
<h4><%= @volunteer.name() %></h4>

<h3>Project Job Number Currently Assigned To:</h3>
<h4><%= @volunteer.project_id() %></h4>

<br>
<br>


<form action="/volunteers/<%= @volunteer.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Update volunteer name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success"=>Update Volunteer</button>
</form>

<br>

<form action="/volunteers/<%= @volunteer.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-danger">Delete Volunteer</button>
</form>

<br>
<p><a href="/">Return Home</a></p>
